
.conteudotarefas{
    margin-top: 25px;
    width: 70%;
}

.titulotarefas{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}
/* Container da lista */
.tarefaspendentes {
    width: 100%;
    max-width: 500px;
    margin-top: 30px;
    margin-left: 40px;
}

.tarefaspendentes ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.grupo-tarefa{
    display: flex;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.52);
    padding: 10px 15px;
    border-radius: 8px;
    border-left: 5px solid #fff;
    transition: all 0.3s ease;
}
.grupo-tarefa:hover{
    background: rgba(255, 255, 255, 0.65);
    transform: translateX(5px);
}

/* Cada linha de tarefa individual */
.item-tarefa {
    background: rgba(255, 255, 255, 0.52);
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 18px;
    color: rgb(207, 68, 124);
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    font-family: Arial, sans-serif;
    border-left: 5px solid #fff;

    /*alinhamento do botão e spam na mesma linha*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-tarefa:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateX(5px);
}

.tarefaspendentes ul li.item-tarefa.concluida {
    text-decoration: line-through !important; /* O !important garante que o risco aconteça */
    opacity: 0.5; 
    background: rgba(0, 0, 0, 0.2);
    border-left-color: #359e48;
    color: rgba(238, 100, 180, 0.853); /* Clarea o texto mesmo com o pai sendo white */
}
/*customiza cronometro*/
.tempo-tarefa{
    font-size: 15px;
    font-weight: bold;
    color: #6d44cf;
    margin-left: auto;/*cronometro perto do botão*/
    margin-right: 15px;

}
/*estilo mini botao inicr dentro da tarefa*/
.btn-iniciar{
    background-color: #31b468;
    color: rgb(244, 220, 231);
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-iniciar:hover {
    background-color: #237b47;
}

/* Permite rolagem vertical apenas na página de tarefas caso haja muitas tarefas */
.pagina.Tarefa {
    overflow-y: auto;
    padding-bottom: 50px;
}

/* Container que segura as 4 caixas organizadas por ordem de importância */
.container-prioridades {
    width: 50%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.caixa-prioridade {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 12px;
    padding: 15px;
    margin: 2px 2px 2px 2px;
}

.titulo-prioridade {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

/* Estilização dos títulos de cada caixa */
.urgente .titulo-prioridade { color: #c41351; }
.alta .titulo-prioridade { color: #d83476; }
.media .titulo-prioridade { color: #f17bb2; }
.baixa .titulo-prioridade { color: #ffa3ae; }

.caixa-prioridade ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Etiqueta (Badge) da prioridade que desce ao lado da tarefa */
.badge-prioridade {
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 6px;
    color: white;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
}
